.discount-section{
    height: 530px;
    background-color: #752068;
    color: #F2F2F2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disc-content{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 15px;
    width: 45%;
    margin-left: 50px;
}

.disc-title h1{
    font-size: 40px;
}

.disc-number{
    color: #FEDD58;
}

.disc-sub {
    text-align: center;

}
.img-disc img{
    height: 350px;
    
}