body{
    padding: 0;
    color: white;
    margin: 15px;
    width: 100%;
    font-family: system-ui;
}

p{
    font-size: 20px;
    margin-bottom: 0;
}

.horizontal-line{
    background-color: #FEDD58 ;
    margin-right: 8px;
    width: 35px;
    height: 4px;
}

.principal-content{
    width: 100%;
    height: 660px;
    color: white;
    background-image: url(/imgs/header/fundo-about.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.principal-right{
    display: flex;
    align-items:end;
}
.principal-left{
    margin-left: 60px;
    width: 100%;
    margin-top: 14%;
}

.principal-right img{
    height: 690px;
}

.principal-phrase h1{
    font-size: 60px;
}

.principal-discount{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.principal-discount p{
    margin-top: 2px;
}

header{
    background-color: #752068;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 45px;
}

header li{
    color: aliceblue;
    display: inline-block;
    margin: 20px;
    font-size: 24px;
}

header li:hover{
    color: #FEDD58;
}

.logo-pet img{
    width: 200px;
    margin-left: 50px;
}

.nav-itens a{
    display: flex;
    color: aliceblue;
    text-decoration: none;
}

.log{
    border: 0;
    background-color: #FEDD58;
    border-radius: 12px;
    height: 50px;
    width: 130px;
    margin-right: 50px;
}

.btn-shop button{
    background-color: #FEDD58;
    width: 250px;
    height: 65px;
    border: 0;
    border-radius: 12px;
    box-shadow: 5px 5px  rgb(231, 172, 61, 1);       
    margin-top: 30px;
    font-size: 20px;
}

button {
    transition: transform 0.2s ease-in-out; 
    &:hover {
      transform: scale(1.1); 
    }
    &:focus-out {
      transform: scale(1); 
    }
}